.book {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  border: 1px solid #343434;
  border-radius: 2.5px;
  padding: 10px;
  align-items: center;

  &__author{
    margin-bottom: 0;
  }
  &__title{
    margin-bottom: 0;
  }
  &__completed{
    margin-bottom: 0;
  }
}